In [1]:
import csv
from mlxtend.frequent_patterns import fpgrowth, association_rules
import pandas as pd

In [2]:
with open("online_retail.csv") as f:
    sales = list(csv.reader(f))

In [3]:
sales = sales[1:]

In [4]:
sales = list(filter(lambda x: x[0][0] != 'C', sales))

In [5]:
d_invoice = {}
for row in sales:
    lst = d_invoice.get(row[0], [])
    lst.append(row[2])
    d_invoice[row[0]] = lst

In [6]:
products = []
for row in sales:
    if row[2] not in products:
        products.append(row[2])

In [7]:
pa_matrix = []
for i, key in enumerate(d_invoice):
    pa_matrix.append([])
    for product in products:
        if product in d_invoice[key]:
            pa_matrix[i].append(True)
        else:
            pa_matrix[i].append(False)

In [8]:
df = pd.DataFrame(data=pa_matrix, columns=products)

In [10]:
fi = fpgrowth(df, 0.02)
print(len(fi))

303

In [11]:
association_rules(fi, metric='confidence', min_threshold=0.85)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(2344, 619)",(624),0.027148,0.046003,0.024565,0.904841,19.669380,0.023316,10.025342
1,"(2344, 624)",(619),0.028689,0.048314,0.024565,0.856240,17.722404,0.023179,6.619970

In [12]:
print(products[2344])
print(products[619])
print(products[624])

PINK REGENCY TEACUP AND SAUCER
ROSES REGENCY TEACUP AND SAUCER
GREEN REGENCY TEACUP AND SAUCER